body
{text-align: center;
 background-color: lightyellow;

 color: green;
 font-family: Arial, Helvetica, sans-serif;

}

#contenedor
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
    position: relative;
}

#post h1
{
    font-size: 30px;
}

.titulo
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}
 
.guitar
{
    width: 15%;
    height: auto;
}


